#display{
	border: 1px dotted black;
}
#sidebar-wrapper .sidebar-brand, .navbar-brand{
	font-family: 'Lucida Console';
	font-weight: bold;
}

#message{
	background: white;
	border: solid 0.2rem green;
	border-radius: 5px;
	min-width: 200px;
	max-width: 100%;
	padding: 0.5rem;


}