
body {
}

#display {
	overflow: hidden;
}

.form-error {
	font-size: 0.8rem;
	white-space: nowrap;
}

.collapse {
	max-height: 100%;
}

#sidebar-wrapper .sidebar-brand, .navbar-brand{
	font-family: 'Lucida Console';
	font-weight: bold;
}

#message{
	background: white;
	border: solid 0.2rem green;
	border-radius: 5px;
	min-width: 200px;
	max-width: 100%;
	padding: 0.5rem;
}

#wrapper {
	height: 100%;
}

#mainNav {
	z-index: 9999;
}

#loading {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

#display {
	background: white;
	opacity: 0;
	transition: 1s ease-out;
}

.navbar-toggler[aria-expanded="false"] {
	color: white;
}

#help {
	border-radius: 0.5rem;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
}

#help .title {
	font-size: 1.5rem;
	padding: 0.5rem;
	border: dashed 0.1rem white;
	border-radius: 9999px;
}

button.round {
	border: none;
	border-radius: 9999px;
}

.helpclose {
	position: absolute;
	top: 0;
	right: 0;
	transform: translate(50%,-50%);
}

